<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GuitarraStore.web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GuitarraStore.web.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet"> 
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dgqkeshqh/image/upload/v1753230892/iconoweb_rqm3op.png" />

    <style>
        html, body {
            background-color: #000;
        }

    </style>

</head>
<body class="bg-black text-white">
    <header>

        <nav class="navbar bg-body-tertiary fixed-top navbar-dark bg-dark ">
            <div class="container-fluid navbar-collapse collapse d-sm-inline-flex ">

                <button id="abrirMenu" class="btn btn-outline-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="d-flex align-items-center gap-3">
                    <a asp-controller="Usuarios" asp-action="Ingresar" class="text-white text-decoration-none" title="Iniciar sesión">
                        <i class="bi bi-person fs-4"></i>
                    </a>

                    <a asp-controller="Home" asp-action="carrito" class="text-white text-decoration-none" title="Carrito">
                        <i class="bi bi-cart fs-4">
                        </i>
                    </a>

                </div>

                <div class="offcanvas offcanvas-start bg-black" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
 
                    <div class="offcanvas-header"> 
                        <button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                            <form class="d-flex mt-3" role="search">
                                <input class="form-control me-2 bg-dark text-white" type="search" placeholder="¿Que estas buscando?" aria-label="Search" id="inputBuscar" />
                                <button class="btn btn-outline-success" type="button" id="botonBuscar">Buscar</button>
                            </form>

                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Inicio">Inicio</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Guitarras">Guitarras</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="/Usuarios/Ingresar">Iniciar Sesion</a>
                            </li>
                            
                        </ul>
                        
                    </div>
                </div>

            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted bg-dark text-white">
        <div class="container">
            &copy; 2025 - GuitarraStore.web
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script>
        const navbar = document.querySelector('.navbar.fixed-top');
        const mainContent = document.querySelector('main');

        if (navbar && mainContent) {
            const navHeight = navbar.offsetHeight;
            mainContent.style.marginTop = `${navHeight}px`;
        }

        const offcanvasElement = document.getElementById('offcanvasNavbar');
        const abrirmenu = document.getElementById('abrirMenu');

        if (offcanvasElement && abrirmenu) {
            const offcanvas = new bootstrap.Offcanvas(offcanvasElement);
            abrirmenu.addEventListener('click', () => {
                offcanvas.show();
            });
        }
    </script>
    
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
