@{
    ViewData["Title"] = "Manejo de datos";
}

<body>

    <h2>Ingreso de guitarra</h2>

    <form id="formulario" enctype="multipart/form-data">

        <div class="mb-3">

            <label for="marca" class="form-label">Marca:</label>
            <input type="text" id="marca" name="marca" class="form-control" required>

        </div>
        
        <div class="mb-3">

            <label for="modelo" class="form-label">Modelo:</label>
            <input type="text" id="modelo" name="modelo" class="form-control" required>

        </div>

        
        <div class="mb-3">

            <label for="precio" class="form-label">Precio:</label>
            <input type="text" id="precio" name="precio" class="form-control" required>

        </div>

        <div class="mb-3">

            <label for="imagen" class="form-label">Imagen:</label>  
            <input type="file" id="imagen" name="imagen" class="form-control" accept="image/*" required>

        </div>
        
        <button type ="submit" id="crearGuitarra">Crear Guitarra</button>

    </form>
 
    <script type="module" src="/js/main.js"></script>
</body>