@{
    ViewData["Title"] = "Manejo de datos";
}

<body>

    <h2>Ingreso de guitarra</h2>

    <form id="formulario" enctype="multipart/form-data">

        <div class="mb-3">

            <label for="marca" class="form-label">Marca:</label>
            <input type="text" id="marca" class="form-control bg-dark text-white" required>

        </div>
        
        <div class="mb-3">

            <label for="modelo" class="form-label">Modelo:</label>
            <input type="text" id="modelo" class="form-control bg-dark text-white" required>

        </div>
        
        <div class="mb-3">

            <label for="precio" class="form-label">Precio:</label>
            <input type="text" id="precio" class="form-control bg-dark text-white" required>

        </div>

        <div class="mb-3">

            <label for="Genero" class="form-label">Genero:</label>
            <input type="text" id="Genero" class="form-control bg-dark text-white">

        </div>

        <div class="form-check mb-3">
            <input type="checkbox" id="MasVendido" class="form-check-input bg-dark text-white">
            <label for="MasVendido" class="form-check-label">Es más vendido</label>
        </div>

        <div class="form-check mb-3">
            <input type="checkbox" id="EstaEnOferta" class="form-check-input bg-dark text-white">
            <label for="EstaEnOferta" class="form-check-label">En oferta</label>
        </div>

        <div class="mb-3">
            <label for="imagen" class="form-label ">Imagen:</label>  
            <input type="file" id="imagen" class="form-control bg-dark text-white" accept="image/*" required>
        </div>
        
        <button type="submit" class="bg-dark text-white" id="crearGuitarra">Crear Guitarra</button>

    </form>
 
    <script type="module" src="/js/main.js"></script>
</body>