
@{
    ViewData["Title"] = "Detalles";
}

<body>

    <h1>Detalles</h1>
    <div id="contenedorDetalles"></div>
    <a href="/Home/GuitarrasCrud">Volver a la lista</a>

    <script type="module" src="/js/main.js">

    </script>

</body>


