
@{
    ViewData["Title"] = "Detalles";
}

<body>

    <h1>Detalles</h1>
    <div id="contenedorDetalles" style="max-width: none; width: 100%;"></div>

    <div style="margin-top:30px "><a asp-controller="Home" asp-action="GuitarrasCrud" class="btn btn-primary" id="volverAlCrud">Volver a la lista</a></div>

    <script type="module" src="/js/main.js">

    </script>

</body>


