
@{
    ViewData["Title"] = "Detalles";
}

<body>

    <h1>Detalles</h1>
    <div id="contenedorDetalles"></div>

    <div style="margin-top:30px "><a asp-controller="Home" asp-action="GuitarrasCrud" class="btn btn-primary" id="volverAlCrud">Volver a la lista</a></div>

    <script type="module" src="/js/main.js" asp-append-version="true" defer>

    </script>

</body>


