
@{
    ViewData["Title"] = "Editar";
}



<body>

    <h2>Editar</h2>
    <form id="formulario">

        <label for="marca">Marca :</label>
        <input id="marca" />
        <label>Modelo</label>
        <input id="modelo" />
        <label>Precio</label>
        <input id="precio" />
        <label>UrlImagen</label>
        <input id="imagen"/>

        <button id="botoneditar">Guardar</button>
    
    </form>
        

   <script type="module" src="/js/main.js">
       
    </script>

</body>
