@{
    ViewData["Title"] = "Editar";
}

<body>

    <h2>Editar</h2>
    <form id="formulario" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="marca">Marca :</label>
            <input class="form-control" id="marca" />
        </div>

        <div class="mb-3">
            <label class="form-label">Modelo:</label>
            <input class="form-control" id="modelo" />
        </div>

        <div class="mb-3">
            <label class="form-label">Precio:</label>
            <input class="form-control" id="precio" />
        </div>

        <div class="mb-3">
            <img id="previewImagen" src="" alt="Imagen actual" style="max-height: 200px;" />
        </div>

        <div class="mb-3">
            <label class="form-label" for="imagen">Imagen:</label>
            <input class="form-control" type="file" id="imagen" name="ImagenArchivo" accept="image/*" />
        </div>

        <div class="mb-3">
            <button id="botoneditar">Guardar</button>
        </div>

    </form>

   <script type="module" src="/js/main.js"></script>

</body>
