
@{
    ViewData["Title"] = "GuitarrasCrud";
}

<h1>GuitarrasCrud</h1>

<body>

    <button id="botonagregar">Agregar</button>
    <ul id="listado"></ul>

    <script>

        let listado = document.getElementById("listado");

        async function MostrarGuitarras()
        {
        
            try
            {

                const respuesta = await fetch("/api/guitarra/Get");

                if(!respuesta.ok){

                    const errorText = await respuesta.text();
                    throw new Error("Error al cargar las guitarras. Respuesta: " + respuesta.status + " - " + errorText);

                }

                listado.innerHTML="";

                const guitarras = await respuesta.json();

                guitarras.forEach(guitarra =>{
                
                    const li = document.createElement("li");
                    li.innerHTML = `<strong>${guitarra.marca}</strong> - ${guitarra.modelo} - ${guitarra.precio} €`;

                    const botonelim = document.createElement("button");
                    botonelim.innerText = "Eliminar";

                    const botonedit = document.createElement("button");
                    botonedit.innerText = "Editar";

                    const botondetalles = document.createElement("button");
                    botondetalles.innerText = "Detalles";

                    botondetalles.addEventListener("click", function(){
                    
                        window.location.href = `/Home/Detalles/${guitarra.id}`;
                    
                    })
                    botonedit.addEventListener("click", function(){

                        window.location.href = `/Home/Editar/${guitarra.id}`;

                    })
                    botonelim.addEventListener("click",async function(){
                    
                        try
                        {

                            const respuesta = await fetch(`/api/guitarra/Delete/${guitarra.id}`,{method:"DELETE"});

                            if(!respuesta.ok){
                                const errorText = await respuesta.text();
                                throw new Error("Error al eliminar la guitarra. Respuesta: " + respuesta.status + " - " + errorText);
                            }

                            alert("Guitarra eliminada correctamente.");
                            MostrarGuitarras();

                        }
                        catch(error)
                        {
                            alert("Error al eliminar la guitarra: " + error.message)
                        }  
                    
                    })


                    li.appendChild(botondetalles);
                    li.appendChild(botonedit);
                    li.appendChild(botonelim);  

                    listado.appendChild(li);

                });

            }
            catch(error){
                alert("Error al cargar las guitarras: " + error.message);
            }
        }

        MostrarGuitarras();

        document.getElementById("botonagregar").addEventListener("click",() =>{

            window.location.href = "/Home/Privacy";

        });

    </script>

</body>

