
@{
    ViewData["Title"] = "GuitarrasCrud";
}

<h1>GuitarrasCrud</h1>

<body>

    <button id="botonagregar">Agregar</button>
    <ul id="listado"></ul>

    <script type="module" src="/js/main.js">

    </script>

</body>

