@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Guitarras</title>
</head>
<body>

    <h3>Listado GUitarras</h3>

    <div class="container mt-4">
        <div id="contenedorGuitarras"></div>
    </div>
    
    <script type="module" src="./js/main.js"></script>
</body>
</html>