@{
    ViewData["Title"] = "Principal";
}

<div style="display: flex; justify-content: center; gap: 10px; flex-wrap: nowrap; width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw; overflow-x: auto;">
    <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExemxubmYwcHkyYXpvZTFsanc0eXgya2F4bWJic3NzMjZtYTh4eW9mbyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/YpkmpZajLlj1kK9BCt/200.webp" style="flex: 0 0 auto; width: 30%; height: auto;" />
    <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExYmJkY2V6Z2EwMXQ1cjVxaHNramZ1eXlsZTQ0YTE4NXhkMmg3enkyNCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/gnUkuK0DSMcecePGDy/giphy.gif" style="flex: 0 0 auto; width: 30%; height: auto;" />
    <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExamVjZmdhOW13M3diZGcybzEyZGJjaDF0MjQ3ZDFwMHNvYjZ4cng4cCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/GVA1QOemZ3pCknMaRn/giphy.gif" style="flex: 0 0 auto; width: 30%; height: auto;" />
</div>


<div class="mt-4">

    <div id="contenedor_inicio"></div>

</div>

<script type="module" src="/js/main.js"></script>