@{
    ViewData["Title"] = "Principal";
}

<div>
    <picture>
        <source srcset="https://res.cloudinary.com/dgqkeshqh/image/upload/w_768,h_174,c_fill,q_auto,f_webp/v1755027631/Guitarra_Store_s6ej4a.webp"
                media="(max-width: 768px)"
                type="image/webp">
        <source srcset="https://res.cloudinary.com/dgqkeshqh/image/upload/w_1600,h_364,c_fill,q_auto,f_webp/v1755027631/Guitarra_Store_s6ej4a.webp"
                media="(min-width: 769px)"
                type="image/webp">
        <img src="https://res.cloudinary.com/dgqkeshqh/image/upload/w_1600,h_364,c_fill,q_auto,f_webp/v1755027631/Guitarra_Store_s6ej4a.webp"
             alt="Portada"
             class="card-img-top"
             width="1600"
             height="364"
             decoding="async"
             loading="eager">
    </picture>
</div>


<div class="mt-4">

    <div id="contenedor_inicio"></div>

</div>

<script type="module" src="/js/main.js" asp-append-version="true" defer></script>

