@{
    ViewData["Title"] = "Iniciar sesion";
}

<form id="ingresar_usuario">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Ingrese email" required>
    </div>

    <div class="mb-3">
        <label for="contraseña" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="contraseña" placeholder="Ingrese contraseña" required>
    </div>

    <button type="submit" class="btn btn-primary">Aceptar</button>

    <p class="mt-3">
        ¿No tiene cuenta?
        <a asp-controller="Usuarios" asp-action="Registrar" class="text-decoration-none text-primary">
            Ingrese aquí
        </a>
    </p>
</form>

@section Scripts{ <script type="module" src="/js/UsuarioMain.js"></script>}