@{
    ViewData["Title"] = "Iniciar sesion";
}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <h2 class="text-center mb-4">Iniciar Sesión</h2>

            <form id="ingresar_usuario" class="p-4 rounded shadow bg-dark text-white">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control bg-dark text-white" id="email" placeholder="Ingrese email" required>
                </div>

                <div class="mb-3">
                    <label for="contraseña" class="form-label">Contraseña</label>
                    <input type="password" class="form-control bg-dark text-white" id="contraseña" placeholder="Ingrese contraseña" required>
                </div>

                <button type="submit" class="btn btn-primary w-100">Aceptar</button>

                <p class="mt-3 text-center">
                    ¿No tiene cuenta?
                    <a asp-controller="Usuarios" asp-action="Registrar" class="text-decoration-none text-primary">
                        Ingrese aquí
                    </a>
                </p>
            </form>
        </div>
    </div>
</div>





@section Scripts {
 <script type="module" src="/js/UsuarioMain.js"></script> <script type="module" src="/js/main.js"></script>
}