@{
    ViewData["Title"] = "Registrar usuario";
}
<form id="registrar_usuario">

    <label>Email</label>
    <input type="email" id="email" placeholder="Ingrese email" required />
    <label>Contraseña</label>
    <input type="password" id="contraseña" placeholder="Ingrese contraseña" required />

    <button type="submit"></button>

</form>

@section Scripts {
 <script type="module" src="/js/UsuarioMain.js"></script>
}