@{
    ViewData["Title"] = "Registrar usuario";
}

<form id="registrar_usuario" class="p-4 rounded shadow bg-dark text-white">

    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control bg-dark text-white" id="nombre" placeholder="Ingrese Nombre" required>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control bg-dark text-white" id="email" placeholder="Ingrese email" required>
    </div>

    <div class="mb-3">
        <label for="contraseña" class="form-label">Contraseña</label>
        <input type="password" class="form-control bg-dark text-white" id="contraseña" placeholder="Ingrese contraseña" required>
    </div>

    <button type="submit" class="btn btn-primary w-100">Registrarse</button>

</form>

@section Scripts {
 <script type="module" src="/js/UsuarioMain.js"></script>
}